body{
    padding: 10px;
    
}

.header{
height: 100px;
width: 457px;
margin-left: auto;
margin-right: auto;
} 

.header1{
    height: 60px;
    width: 90%; 
    margin-left: auto;
    margin-right: auto;
    
    
}



.btnLogin{
    border: 1px solid black;
    border-radius: 50px;
}

.title1{
    
    margin-left: auto;
    margin-right: auto;
    border: 1px solid yellow;
    border-radius: 50px;
    background-color: #85C1E9;
    
    

} 
.title1 h1 {
    
    text-align: center;
}
main{
    width: 90%;
    height: 60vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    
    
}

.nav{
    height: 20%;
    width: 90%;
    height: 44.74px; /*valor del container de boostrap*/
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: flex-start;

}

nav{
    margin-top: auto;
    margin-bottom: auto;
}

.CuadradoPrincipal{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    border: 1px solid black;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.IniciarSesion{

width: 80%;
margin-left: auto;
margin-right: auto;
text-align: center;
}

.IngresarUsuario{

width: 60%;
margin-left: auto;
margin-right: auto;
}

.IngresarUsuario #usuario {
    width: 100%;
    border-radius: 50px;
}


.IngresarContrasehna{

width: 60%;
margin-left: auto;
margin-right: auto;
}

.IngresarContrasehna #contrasehna{
    width: 100%;
    border-radius: 50px;
}

.rol{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    
}
.rol #rol{
    width: 100%;
    border-radius: 50px;
}

.BotonIngresar{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    
}
.BtnIngresar{
    width: 82.95px;
    padding: 20px;
    margin-left: auto;
    margin-right: auto;
}
